<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Page not found - 404</title>
    </head>
<body>
    <div style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
        <img src="https://media.tenor.com/lGS8zvIlIdQAAAAM/no-way-kys.gif" alt="No way">
        <h1>No way</h1>
        <h2>You found a nonexistent page</h2>
    </div>
</body>
</html>