---
import Layout from "../layouts/Layout.astro";
import News from "../components/news.astro";
import { Image } from "astro:assets";
import Banner from "../images/falu.jpg";
import MagyarFaluProgam from "../images/MFP_logo_RGB.svg";
import HasznosDolog from "../images/MFF kedvezményezetti infóblokk-1.jpg";
---

<Layout title="Szentkecske">
	<Image
		src={Banner}
		alt="Kép Szentkecskéről"
		class="w3-image"
		loading="eager"
	/>
	<div class="w3-row-padding w3-section w3-stretch">
		<div class="w3-third w3-container">
			<div class="w3-card w3-blue w3-center w3-container w3-hover-shadow">
				<h1><a href="/onkormanyzat">Önkormányzat</a></h1>
				<p>Szentkecske önkormányzatának hivatalos oldala</p>
			</div>
		</div>
		<div class="w3-third w3-container">
			<div class="w3-card w3-blue w3-center w3-container w3-hover-shadow">
				<h1><a href="/info">Adatok</a></h1>
				<p>Szentkecskével kapcsolatos közérdekű és nyilvános adatok</p>
			</div>
		</div>
		<div class="w3-third w3-container">
			<div class="w3-card w3-blue w3-center w3-container w3-hover-shadow">
				<h1><a href="/hirek">Hírek</a></h1>
				<p>Hírek Szentkecskéről és környékéről</p>
			</div>
		</div>
	</div>
	<div class="w3-row w3-section">
		<div class="w3-quarter">
			<Image
				src={MagyarFaluProgam}
				alt="Magyar falu program logója"
				class="w3-image"
			/>
		</div>
		<div class="w3-threequarter">
			<Image src={HasznosDolog} alt="Valami" class="w3-image" />
		</div>
	</div>
	<div class="w3-container w3-section w3-blue w3-row">
		<img
			src="./picsart.png"
			class="w3-quarter w3-image"
			style="width: 200px"
			alt="Picasrt"
			title="Szépség"
		/>
		<h1 class="w3-rest w3-center">
			A falu szíve, ahol a vidéki varázslat örökké virágzik - Éljen
			Szentkecske közössége!
		</h1>
	</div>

	<h1>Hírek Szentkecskéről</h1>
	<News></News>
</Layout>

<style>
	a {
		text-decoration: none;
	}

	@media screen and (max-width: 601px) {
		.w3-row-padding > div {
			margin-bottom: 10px;
		}
	}
</style>
